/* Style Guide
  * Primary Colour: Black
  * Secondary Colour: Grey
  * Third Color: Lavender
*/

body {
  background: black;
}

h1 {
  Color: Lavender;
  font-family: 'Baskervville', serif;
  font-size: 50px;
  letter-spacing: 3px;
   text-align: center;
}

p {
  color: gray;
}

/* Typography
  * Primary Font: Baskerville
  * Secondary Font: Roboto-Condensed
*/

img {
  width: 100%;
}